version: "3.8"

services:
  app:
    platform: "${DOCKER_PLATFORM:-linux/amd64}"
    image: rickytruong/virtual-time-capsule-app:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    environment:
      - PORT=3001
    env_file:
      - .env
    volumes:
      - ./server/time_capsule/uploads:/app/uploads
    depends_on:
      - db
    restart: unless-stopped

  client:
    platform: "${DOCKER_PLATFORM:-linux/amd64}"
    image: rickytruong/virtual-time-capsule-client:latest
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    restart: unless-stopped

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASS:-mysecretpassword}
      POSTGRES_DB: ${DB_NAME:-postgres}
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  db-data:
